<head> 
	<!-- Mobile Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicon -->
	<link rel="shortcut icon" href="images/favicon.ico">

	<!-- Web Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>

	<%= javascript_include_tag "application", "data-turbolinks-track" => true  %>

</head>

<body class="no-trans">
	<!-- scrollToTop -->
	<!-- ================ -->
	<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

	<!-- header start -->
	<!-- ================ --> 
	<header class="header fixed clearfix navbar navbar-fixed-top">
		<div class="container">
			<div class="row">
				<div class="col-md-4">

					<!-- header-left start -->
					<!-- ================ -->
					<div class="header-left clearfix">

						<!-- logo -->
						<div class="logo smooth-scroll">
							<a href="#banner"><i class="fa fa-anchor fa-3x"></i></a>
						</div>

						<!-- name-and-slogan -->
						<div class="site-name-and-slogan smooth-scroll">
							<div class="site-name"><a href="#banner">TLY&S</a></div>
							<div class="site-slogan">Taylor Lane Yacht & Ship</div>
						</div>

					</div>
					<!-- header-left end -->

				</div>
				<div class="col-md-8">

					<!-- header-right start -->
					<!-- ================ -->
					<div class="header-right clearfix">

						<!-- main-navigation start -->
						<!-- ================ -->
						<div class="main-navigation animated">

							<!-- navbar start -->
							<!-- ================ -->
							<nav class="navbar navbar-default" role="navigation">
								<div class="container-fluid">

									<!-- Toggle get grouped for better mobile display -->
									<div class="navbar-header">
										<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>

									<!-- Collect the nav links, forms, and other content for toggling -->
									<div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
										<ul class="nav navbar-nav navbar-right">
											<li class="active"><a href="#banner">Home</a></li>
											<li><a href="#about">About</a></li>
											<li><a href="#services">Services</a></li>
											<li><a href="#clients">Clients</a></li>
											<li><a href="#contact">Contact</a></li>
										</ul>
									</div>

								</div>
							</nav>
							<!-- navbar end -->

						</div>
						<!-- main-navigation end -->

					</div>
					<!-- header-right end -->

				</div>
			</div>
		</div>
	</header>
	<!-- header end -->

	<!-- banner start -->
	<!-- ================ -->
	<div id="banner" class="banner">
		<div class="banner-image"></div>
		<div class="banner-caption">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
						<h1 class="text-center"><span>Taylor Lane </br> </span>Yacht & Ship</h1>
						<p class="lead text-center">We are open and eager to serve all vessels up to 300’ with our own brand of friendly shipyard service. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- banner end -->

	<!-- section start -->
	<!-- ================ -->
	<div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 id="about" class="title text-center">About <span>TLY&S</span></h1>
					<p class="lead text-center">Our philosophy is to make your stay for repairs, refit, maintenance, or simply dockage as comfortable and convenient as possible.</p>
					<div class="space"></div>
					<div class="row">
						<div class="col-md-6">
							<%= image_tag ("Excellence2.jpg") %>
							<div class="space"></div>
						</div>
						<div class="col-md-6">
							<p>We operate in a slightly different manner than traditional shipyards in that we offer the vessel the option to choose their own contractors*, suppliers, and level of service that we perform. The customer can run their entire project themselves, or allow TLYS to assist to any degree they desire, whether as a complete project manager or merely to offer advice on issues that arise. Or even not be involved at all. The customer tells the management how involved they want us to be. </p>
							<p>* - Contactors are required to provide proof of required insurance coverage and adhere to the shipyard rules.</p>
							<p> TLYS is operating out of the recently rebuilt Powell Brothers facility on the newly dredged (-17.0’MLW) Dania Cut Off Canal, just south of Port Everglades and one mile west of the Intracoastal Waterway. We offer depths of -15.0’MLW dockside and enough power for all your needs, as well as your contractors. </p>
							Our location is ideally situated with easy access to the following locations:
							<ul class="list-unstyled">
								<li><i class="fa fa-caret-right pr-10 text-colored"></i> Ft.Lauderdale-Hollywood International Airport</li>
								<li><i class="fa fa-caret-right pr-10 text-colored"></i> I-595, I-75, and I-95</li>
								<li><i class="fa fa-caret-right pr-10 text-colored"></i>The Florida Turnpike</li>
								<li><i class="fa fa-caret-right pr-10 text-colored"></i>Downtown Ft. Lauderdale and it's beaches, and historic Dania Beach. </li>
							</ul>
						</div>
					</div>
					<div class="space"></div>
					<h2>As Former Yacht Captains and Engineers.</h2>
					<div class="row">
						<div class="col-md-6">
							<p>We understand that owners, management companies, and captains often prefer their own method of work in the shipyard and we are here to help you attain that fit. At TLYS, the vessel deals directly with their contractors and thus the lines of communication are not blurred by a third party. Therefore, the contractor answers to the customer, and if you are not satisfied with his performance, you hire another. While we have extensive knowledge of qualified local contractors, whom you choose is entirely up to you. </p>
						</div>
						<div class="col-md-6">
							<%= image_tag("Apogeeside2.jpg") %>
							<div class="space"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- section end -->

	<!-- section start -->
	<!-- ================ -->
	<div class="section translucent-bg bg-image-1 blue">
		<div class="container object-non-visible" data-animation-effect="fadeIn">
			<h1 id="services"  class="text-center title">Taylor Lane Services</h1>
			<div class="space"></div>
			<div class="row">
				<div class="col-sm-6">
					<div class="media">
						<div class="media-body text-right">
							<h4 class="media-heading">Service 1</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
						</div>
						<div class="media-right">
							<i class="fa fa-cog"></i>
						</div>
					</div>
					<div class="media">
						<div class="media-body text-right">
							<h4 class="media-heading">Service 2</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
						</div>
						<div class="media-right">
							<i class="fa fa-check"></i>
						</div>
					</div>
					<div class="media">
						<div class="media-body text-right">
							<h4 class="media-heading">Service 3</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
						</div>
						<div class="media-right">
							<i class="fa fa-desktop"></i>
						</div>
					</div>
					<div class="media">
						<div class="media-body text-right">
							<h4 class="media-heading">Service 4</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
						</div>
						<div class="media-right">
							<i class="fa fa-users"></i>
						</div>
					</div>
				</div>
				<div class="space visible-xs"></div>
				<div class="col-sm-6">
					<div class="media">
						<div class="media-left">
							<i class="fa fa-leaf"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Service 5</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
						</div>
					</div>
					<div class="media">
						<div class="media-left">
							<i class="fa fa-area-chart"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Service 6</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
						</div>
					</div>
					<div class="media">
						<div class="media-left">
							<i class="fa fa-child"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Service 7</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
						</div>
					</div>
					<div class="media">
						<div class="media-left">
							<i class="fa fa-codepen"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Service 8</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- section end -->

	<!-- section start -->
	<!-- ================ -->
	<div class="default-bg space blue">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1 class="text-center">Let's Work Together!</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- section end -->

	<!-- section start -->
	<!-- ================ -->

	<!-- where portfolio was -->

	<!-- section end -->

	<!-- section start -->
	<!-- ================ -->
	<div class="section translucent-bg bg-image-2 pb-clear">
		<div class="container object-non-visible" data-animation-effect="fadeIn">
			<h1 id="clients" class="title text-center">Clients</h1>
			<div class="space"></div>
			<div class="row">
				<div class="col-md-9">
					<div class="media testimonial">
						<div class="media-left">
						</div>
						<div class="media-body">
							<blockquote>
								"I believe APOGEE was one of your first big projects at TLY&S and intend to continue visiting for many years to come. The experience was personal, professional and cooperative. Together between Taylor Lane Yacht & Ship, APOGEE Crew, Yacht Management IYC and the many contractors this has proven to be one of the most successful (in water) Yard Periods. TLY&S facility supported the independent contractors and the services they provided to APOGEE. APOGEE had full control of the contractors enabling us to achieve our goals. I highly recommend TLY&S to Yachts that appreciate the many Trades here in Fort Lauderdale. The alongside dockage arrangement for Mega Yachts is 2nd to none in South Florida. TLY&S is the best thing that has happened for Mega Yachting Maintenance Periods (in water) in South Florida."
							</blockquote>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="media testionial">
							<div class="media-body" align="center">
								<%= image_tag("captain.png", class: "img-circle", align: "center") %>
								<footer>Captain John Fleckenstein </br>
								<cite title="Source Title">Master of the Motor Yacht Apogee</cite></footer>
							
							</div>
						</div>
					</div>

					
				</div>
			</div>
			<!-- section start -->
		</div>
		<!-- section end -->

		<!-- section start -->
		<!-- ================ -->
		<div class="default-bg space">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="text-center">Many Happy Clients!</h1>
					</div>
				</div>
			</div>
		</div>
		<!-- section end -->

		<!-- footer start -->
		<!-- ================ -->
		<footer id="footer">

			<!-- .footer start -->
			<!-- ================ -->
			<div class="footer section">
				<div class="container">
					<h1 class="title text-center" id="contact">Contact Us</h1>
					<div class="space"></div>
					<div class="row">
						<div class="col-sm-6">
							<div class="footer-content">
								
								<ul class="list-icons">
									
									<li><i class="fa fa-male"></i> David Morrison </li>
									<li><i class="fa fa-phone pr-10"></i>(954) 629-6172</li>
									<li><i class="fa fa-envelope-o pr-10"></i>David@tlys.org</li>
									</br>
									<li><i class="fa fa-male"></i> Buddy Haack </li>
									<li><i class="fa fa-phone pr-10"></i>(954) 260-4151</li>
									<li><i class="fa fa-envelope-o pr-10"></i>mhaack5@aol.com</li>
									</br>
									<li><i class="fa fa-male"></i> Cristian Schwarzwalder - Monaco Office </li>
									<li><i class="fa fa-phone pr-10"></i> +33 678 636 981</li>
									<li><i class="fa fa-envelope-o pr-10"></i>enquiry@tlys.org</li>
									</br>
									<li><i class="fa fa-map-marker pr-10"></i> 760 Taylor Ln, Dania Beach, FL 33004</li>
								</ul>
								<ul class="social-links">
									<li class="facebook"><a target="_blank" href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
									<li class="twitter"><a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
									<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
									<li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
									<li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
									<li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube"></i></a></li>
									<li class="flickr"><a target="_blank" href="http://www.flickr.com"><i class="fa fa-flickr"></i></a></li>
									<li class="pinterest"><a target="_blank" href="http://www.pinterest.com"><i class="fa fa-pinterest"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="footer-content">
							<p class="large">Drop us an email or call us to discuss your next project! We will usually attend to all enquiries within 24 hours.</p>
							</br>
								<form role="form" id="footer-form">
									<div class="form-group has-feedback">
										<label class="sr-only" for="name2">Name</label>
										<input type="text" class="form-control" id="name2" placeholder="Name" name="name2" required>
										<i class="fa fa-user form-control-feedback"></i>
									</div>
									<div class="form-group has-feedback">
										<label class="sr-only" for="email2">Email address</label>
										<input type="email" class="form-control" id="email2" placeholder="Enter email" name="email2" required>
										<i class="fa fa-envelope form-control-feedback"></i>
									</div>
									<div class="form-group has-feedback">
										<label class="sr-only" for="message2">Message</label>
										<textarea class="form-control" rows="8" id="message2" placeholder="Message" name="message2" required></textarea>
										<i class="fa fa-pencil form-control-feedback"></i>
									</div>
									<input type="submit" value="Send" class="btn btn-default">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- .footer end -->

			<!-- .subfooter start -->
			<!-- ================ -->
			<div class="subfooter">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p class="text-center">Copyright © 2015 Taylor Lane Yacht & Ship</p>
						</div>
					</div>
				</div>
			</div>
			<!-- .subfooter end -->

		</footer>
		<!-- footer end -->

		<%= javascript_include_tag "template/template", "data-turbolinks-track" => true  %>
		<%= javascript_include_tag "template/custom", "data-turbolinks-track" => true  %>
		<%= javascript_include_tag "template/plugins/jquery.appear", "data-turbolinks-track" => true  %>
		<%= javascript_include_tag "template/plugins/jquery.backstretch.min", "data-turbolinks-track" => true  %>
		<%= javascript_include_tag "template/plugins/modernizr", "data-turbolinks-track" => true  %>

    		<!-- JavaScript files placed at the end of the document so the pages load faster
    		================================================== -->
    		<!-- Jquery and Bootstap core js files -->
<!--		<script type="text/javascript" src="plugins/jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script> -->

	<!-- Modernizr javascript -->
	<!-- <script type="text/javascript" src="assets/js/template/plugins/modernizr.js"></script> -->

	<!-- Isotope javascript -->
	<!-- <script type="text/javascript" src="template/plugins/isotope/isotope.pkgd.min.js"></script> -->

	<!-- Backstretch javascript -->
	<!-- <script type="text/javascript" src="template/plugins/jquery.backstretch.min.js"></script> -->

	<!-- Appear javascript -->
	<!-- <script type="text/javascript" src="template/plugins/jquery.appear.js"></script> -->

	<!-- Initialization of Plugins -->
	<!-- <script type="text/javascript" src="template/template.js"></script> -->

	<!-- Custom Scripts -->
	<!-- <script type="text/javascript" src="template/custom.js"></script> -->

</body>